<div class="container-fluid text-center bg-grey">
  <h2>О нас</h2><br>
  <h4>Давайте познакомимся</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://github.com/vladimirkl1/dh-test/raw/master/Snap7.jpg" alt="iaa" width="400" height="300">
        <p><strong>Даааа... Это ЯЯЯЯ......</strong></p>
        <p>Привет! Меня зовут Артем. В этой жизни у меня две основные страсти:
Системы искусственного интеллекта (AI) и красивые девушки. Объединив эти увлечения, я создал сервис DigitaLH. Сервис, который помог мне найти ту единственную девушку, которая стала моей спутницей жизни.
</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://github.com/vladimirkl1/dh-test/raw/master/small_girl.jpg" alt="no" width="400" height="300">
        <p><strong>Не нравлюсь?</strong></p>
        <p>Еще встретимся</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://github.com/vladimirkl1/dh-test/raw/master/images3.jpg" alt="go" width="400" height="300">
        <p><strong>Без слов</strong></p>
        <p>Да, я это сделал</p>
      </div>
    </div>
  </div>
</div>
