{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title%}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block metadescription%}{% endblock %}">
    <meta name="keywords" content="{% block metakeywords%}{% endblock %}">
    <meta name="author" content="">

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
  <div id="vk_api_transport"></div>
    <script type="text/javascript">
      window.vkAsyncInit = function() {
        VK.init({
          apiId: 5574957
        });
      };

      setTimeout(function() {
        var el = document.createElement("script");
        el.type = "text/javascript";
        el.src = "https://vk.com/js/api/openapi.js?150";
        el.async = true;
        document.getElementById("vk_api_transport").appendChild(el);
      }, 0);
    </script>

<nav class="navbar navbar-default">
    <div class=""> <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
          <a class="navbar-brand" href="/">DigitalH</a>
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'homepage' %}">Home </a></li>
          <li><a href="{% url 'about:index' %}">О нас</a></li>
          <li><a href="{% url 'about:contact' %}">Контакты</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site sections<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'stores:index' %}">Магазин</a></li>
              <li><a href="{% url 'items:index' %}">Каталог</a></li>
              <li><a href="{% url 'online:index' %}">Заказ online</a></li>
              <li><a href="{% url 'social:index' %}">Share your media</a></li>
          </ul>
	      </li>
        </ul>
	  {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'account_logout' %}">Выйти {{user.username}}</a></li>
            <li><a href="{% url 'account_change_password' %}">Изменить пароль</a></li>
            <li><a href="{% url 'account_email' %}">{{user.username|title}}'s email(s)</a></li>
          </ul>
	  {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
	        <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
          </ul>
	  {% endif %}
      </div><!--/.navbar-collapse -->
    </div>
</nav>

    <div class="container">

   {% block nobreadcrumb %}
    <ul class="breadcrumb">
      {% block breadcrumb %}     
      {% endblock %}
    </ul> 
   {% endblock %}
 
      {% block content %}
      {% endblock %}
      <hr>

      <footer>
        <p>{% include "footer.html" %}</p>
      </footer>
    </div> <!-- /container -->

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% block beforebodyend %}{% endblock %}
  </body>
</html>
